{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1>Welcome to Tae's and Tasha's</h1>
    <h2>Virtual Information Administration Assistant!</h2>
    <p><form action="{{ url_for('results') }}" method='post'>
        Please enter your name: <input type='text' name='myName'><br>
        Enter an ID Number: <input type='text' name='userID'><br>
        <input type='submit' value='Submit'>
        </form></p>
        <!DOCTYPE html>
        <html>
        <head>
        <style>
        img {
                border: 5px solid #555;
              }
        </style>
        </head>
        <body>
        <img src="https://i.ibb.co/BGG4rPB/Robot.png" alt="TTbots" width="250" height="250" class="center" >
       
        </body>
        </html>
          
</div>
</style>
</head>
{% endblock %}