{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1>Welcome to Tae's and Tasha's</h1>
    <h2>Virtual Information Administration Assistant!</h2>
    <p><form action="{{ url_for('results') }}" method='post'>
        Please enter your name: <input type='text' name='myName'><br>
        Enter an ID Number: <input type='text' name='userID'><br>
        <input type='submit' value='Submit'>
        </form></p>
        <!DOCTYPE html>
        <html>
        <head>
        <style>
        img {
                border: 5px solid #555;
              }
        </style>
        </head>
        <body>
        <img src="https://lh3.googleusercontent.com/jzHIhm7W7OOvuUEf7beBQ4j-cuBcmsYOLqkqEwUG-CGhRWP2ltRURsFBGBNRIbt0MQ_KNJVTm6YkaaqzTxL7Kxw5qXqyclJLGOyzU04iBkcSXX5EV0ELah6P6Ay8RwP9t1LsI1GfF91HDZxEicY6q2haFrJWiKDltyxe73MNmIZ5A9f8jwdmEdooin2R54cCeFzYuTPOuDN7kfStoPb-BGVb_GpwbQCh-1gHOBmzyYsTsGfbdfBBT_x9zWVTKE_OfjGzVid2vIM6a9Yjus44ZsRIj6UUt0S__2121sYfVYz1rJMFrArFInIh4a4cVBtFG3nEzSVJRM9bq8aHZHp5umf0ncJkOrjioAPmauzRKyiZZsFwNwpSOEPurL0mM9PiPcP1DLlddECEQkdLUT7j54zl-oD6XHBCZ7tTDD8OjryphNyGQLNjFk9y7OVaR_ANJACSk_iSbxn0jSXgnFvMI4osmNcls3tgixexxrCUXSlzKEVA3i1nKFWViNhZ09MRry6YwsfmUcB6AG8iFHh2fFP77Ztxs2PJM5v_ZacM3qLKN7YtiB2SGusVZ3j7108-DI9kEsNqXcKgFSOO_izgEqfE0fFeb-Ex3O-DxiHneso61pPcaWZTXcUerC4OTNQ58oR3vd7DaQRbBIMj-ecfiHxNXX9CUIaZbK-yogj2Nr9PnTX739ta9Ayd2jMinQ=s640-no?authuser=0" 
        alt="TTbots" width="250" height="250" class="center" >
        
    </body>
        </html>
          
</div>
</style>
</head>
{% endblock %}