{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1>Welcome to your Virtual Information Administration Assistant.</h1>
    <p><form action="{{ url_for('greet') }}" method='post'>
        Please enter your name: <input type='text' name='myName'><br>
        Enter an ID Number: <input type='text' name='userID'><br>
        <input type='submit' value='Submit'>
        </form></p>
        <!DOCTYPE html>
        <html>
        <body>
        
        <img src="https://scontent.fatl1-2.fna.fbcdn.net/v/t1.0-1/p720x720/79243382_687986615059093_5365976979633864704_o.png?_nc_cat=104&ccb=2&_nc_sid=dbb9e7&_nc_ohc=gx6lQDN2COsAX860kUq&_nc_ht=scontent.fatl1-2.fna&oh=378ed155c1344e9553993c79097a91ac&oe=5FE10D0C" alt="newsbot" width="250 height="250" class="center">
        
        </body>
        </html>
          
</div>
</style>
</head>
{% endblock %}