{% extends "layout.html" %}
{% block content %}

<div class="home">
    <h1>Keywords for VIAA</h1>
    <p><form action="{{ url_for('keyword') }}" method='post'>
        <!DOCTYPE html>
<html>

        What would you like to search? : <input type='text' name='new_keywords'>
        <input type='submit' value='Submit'>
        </form></p>
        <!DOCTYPE html>
        <html>
        <head>
        <style>
        img {
                border: 5px solid #555;
              }
        </style>
        </head>
        <body>
        <img src="https://i.ibb.co/ZRscBs1/Robot2.png" alt="TTbots" width="250" height="250" class="center">
        
    </body>
        </html>
          

</style>
</head>
</style>
</head>
<body>
<h1>{{myName}}'s Keywords</h1>

<form action="{{ url_for('deletekey') }}" method='post'>

<table style="width:75%", class="center", border="2", background-color="white">  
  <thead>
  <tr>
    <th>Keywords</th>

  </tr>
</thead>
<tbody>
    {% for word in keywords %}
        <tr>
            <td>{{word[0]}}</td>
            <td><button name="DeleteWord" value="{{word[0]}}" type="submit">Delete</button></td>
        
        </tr>    
    {% endfor %}
</tbody>    
</table>  
</form>     

{% endblock %}
