{% extends "layout.html" %}
{% block content %}

<div class="home">
    <h1>Keywords for VIAA</h1>
    <p><form action="{{ url_for('keyword') }}" method='post'>
        <!DOCTYPE html>
<html>

        What would you like to search? : <input type='text' name='new_keywords'>
        <input type='submit' value='Submit'>
        </form></p>
</div>
     
<h1>{{myName}}'s Keywords</h1>

<form action="{{ url_for('deletekey') }}" method='post'>

<table style="width:75%", class="center" border="0">  
  <thead>
  <tr>
    <th>Keywords</th>

  </tr>
</thead>
<tbody>
    {% for word in keywords %}
        <tr>
            <td>{{word[0]}}</td>
            <td><button name="DeleteWord" value="{{word[0]}}" type="submit">Delete</button></td>
        
        </tr>    
    {% endfor %}
</tbody>    
</table>  
</form>     

{% endblock %}
