{% extends "layout.html" %}
{% block content %}

<div class="home">
    <h1>Keywords for VIAA</h1>
    <p><form action="{{ url_for('keyword') }}" method='post'>
        <!DOCTYPE html>
<html>

        What would you like to search? : <input type='text' name='new_keywords'>
        <input type='submit' value='Submit'>
        </form></p>
</div>
     
<h1>{{myName}}'s Keywords</h1>

<table style="width:75%", class="center" >  
  <thead>
  <tr>
    <th>Keywords</th>
  </tr>
</thead>
</tbody>
     {% for word in keywords %}
        <tr>
            <td>{{word[0]}}</td>
        </tr>    
     {% endfor %}
</tbody>    
</table>
     

{% endblock %}
